<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TileManiacWPF.KeyBinds" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TileManiacWPF.Properties.KeyBinds" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TileManiacWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TileManiacWPF.KeyBinds>
            <setting name="Test" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Ctrl+F1</string>
                    </ArrayOfString>
                </value>
            </setting>
        </TileManiacWPF.KeyBinds>
        <TileManiacWPF.Properties.KeyBinds>
            <setting name="NewInstance" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Ctrl+N</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Open" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Ctrl+O</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_Save" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Ctrl+S</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SaveAs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Ctrl+Alt+S</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SaveAsUncompressed" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Ctrl+Alt+U</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_SaveUncompressed" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Ctrl+U</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Copy" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Ctrl+C</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Paste" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Ctrl+V</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PastetoOther" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Ctrl+Alt+V</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MirrorMode" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Ctrl+M</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ShowPathB" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Ctrl+B</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ShowGrid" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Ctrl+G</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="WindowAlwaysOnTop" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Ctrl+T</string>
                    </ArrayOfString>
                </value>
            </setting>
        </TileManiacWPF.Properties.KeyBinds>
        <TileManiacWPF.Properties.Settings>
            <setting name="ListSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScrollAllowed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DevInt1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevInt2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevInt3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevInt4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevInt5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevInt6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevInt7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevInt8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevIncrement" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DevInt9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevInt10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClassicMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewAppearanceMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MirrorMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlopeInDegrees" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowDirect16x16TilesGIFEditing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenderViewerSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PromptForChoiceOnImageWrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>349, 146</value>
            </setting>
            <setting name="NightMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableWindowsClipboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowAlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
        </TileManiacWPF.Properties.Settings>
    </userSettings>
</configuration>